@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: url('https://i.imgur.com/OHg0AXR.png');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: url('https://i.imgur.com/OHg0AXR.png');
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 0,0,0;
  --accentcolor: 223,84,84;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.1;
  --messagetransparency: 0.5;
  --guildchanneltransparency: 0.15;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --font: Fredoka;
  --textbrightest: 245,153,153;
  --textbrighter: 223,84,84;
  --textbright: 151,53,53;
  --textdark: 107,38,38;
  --textdarker: 93,32,32;
  --textdarkest: 99,0,0;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}

/* Any custom CSS below here */

:root {
  --color1: #cd664c;
  --color2 : #89b482;  
  /* APP ELEMENTS */
  --app-blur: 6px;
  --app-margin: 24px;
  --app-radius: 10px;
  --main-rgb: 0,0,0;
  --main-content-opacity: 0.2;
  --sidebar-opacity: 0.4;
  --main-content-color: rgba(var(--main-rgb), var(--main-content-opacity));
  --sidebar-color: rgba(var(--main-rgb), var(--sidebar-opacity));
  /* ACCENT HSL AND TEXT COLOR SETTINGS */
  --accent-hue: 359;
  --accent-saturation: 77.5%;
  --accent-lightness: 47.1%;
  --accent-hsl: var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),var(--accent-lightness);
  --accent-opacity: 1;
  --accent-text-color: hsl(0, 66%, 74%);
  --accent-secondary-color: hsl(from hsl(var(--accent-hsl)) h calc(s * 0.1) l / 0.35);
  --accent-secondary-text-color: hsl(0, 0%, 100%);
  /* ALERT HSL AND TEXT COLOR SETTINGS */
  --alert-hue: 359;
  --alert-saturation: 66.7%;
  --alert-lightness: 54.1%;
  --alert-hsl: var(--alert-hue),calc(var(--alert-saturation) * var(--saturation-factor)),var(--alert-lightness);
  --alert-opacity: 1;
  --alert-action-color: hsl(0, 65%, 49%);
  --alert-text-color: hsl(0, 66%, 49%);
  /* MENTION HSL COLOR SETTINGS */
  --mention-hue: var(--accent-hue);
  --mention-saturation: var(--accent-saturation);
  --mention-lightness: var(--accent-lightness);
  --mention-hsl: var(--mention-hue),calc(var(--mention-saturation) * var(--saturation-factor)),var(--mention-lightness);
  --mention-opacity: 1;
  /* REPLY HSL COLOR SETTINGS */
  --reply-hue: 359;
  --reply-saturation: 77.4%;
  --reply-lightness: 61.8%;
  --reply-hsl: var(--reply-hue),calc(var(--reply-saturation) * var(--saturation-factor)),var(--reply-lightness);
  --reply-opacity: 1;
  /* MESSAGE COLOR SETTINGS */
  --message-color: hsl(0,0%,0%,0.4);
  --message-color-hover: hsl(0,0%,0%,0.55);
  --message-radius: var(--app-radius);
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  --notification-color: hsl(0,0%,100%);
  --list-item-radius: var(--app-radius);
  /* TEXTAREA SETTINGS */
  --textarea-color: 255,106,113;
  --textarea-alpha: 0.1;
  --textarea-alpha-focus: 0.15;
  --textarea-text-color: hsl(0, 99%, 44%);
  --textarea-placeholder-color: hsl(0, 85%, 29%);
  --textarea-radius: 28px;
  --textarea-block-color: hsl(0,63%,64%,);
  --textarea-block-text-color: #ec7b7b;
  /* INPUT SETTINGS */
  --input-height: 36px;
  --input-radius: calc(var(--input-height) / 2);
  /* CARD SETTINGS */
  --card-color: hsl(0,0%,0%,0.4);
  --card-color-hover: hsl(0,0%,0%,0.5);
  --card-color-select: hsl(0,0%,0%,0.625);
  --card-radius: var(--app-radius);
  --card-header-shadow: 0px 3px 9px 0px hsl(0,0%,0%,0.25);
  /* BUTTON SETTINGS */
  --button-height: 32px;
  --button-padding: 0 16px;
  --button-color: hsla(var(--accent-hsl),var(--accent-opacity));
  --button-action-color: hsl(0, 76%, 77%);
  --button-text-color: var(--accent-text-color);
  --button-radius: 16px;
  /* SWITCH SETTINGS */
  --switch-slider-color: hsla(218,4.6%,46.9%,0.85);
  --switch-knob-color: hsl(0,0%,13%);
  /* POPOUT SETTINGS */
  --popout-color: hsl(0,0%,0%,0.55);
  --popout-blur: 8px;
  --popout-header-opacity: 0.3;
  --popout-header-shadow: 0px 3px 9px 0px hsl(0,0%,0%,0.25);
  --popout-radius: var(--app-radius);
  --popout-shadow: 0 8px 10px 1px hsl(0,0%,0%,0.14), 0 3px 14px 2px hsl(0,0%,0%,0.12), 0 5px 5px -3px hsl(0,0%,0%,0.2);
  --nowplaying-color: 88,101,242;
  --streaming-color: 89,54,149;
  --spotify-color: 29,185,84;
  --server-folder-color: hsl(0,0%,100%,0.1);
  --supporter-color: hsla(var(--accent-hsl),var(--accent-opacity));
  /* TOOLTIP SETTINGS */
  --tooltip-color: hsla(var(--accent-hsl),var(--accent-opacity));
  --tooltip-text-color: var(--accent-text-color);
  --tooltip-font-size: 14px;
  --tooltip-padding: 8px 12px;
  --tooltip-radius: var(--app-radius);
  --tooltip-shadow: var(--elevation-high);
  /* ANIMATION SETTINGS */
  --transition-time: 250ms;
  --transition-type: cubic-bezier(0.4,0,0.2,1);
  /* SCROLLBAR SETTINGS */
  --scrollbar-color: 241,139,141;
  --scrollbar-color-alt: 0,0,0;
  --scrollbar-opacity: 0.2;
  --scrollbar-opacity-hover: 0.3;
  --scrollbar-width: 10px;
  /* TEXT COLOR SETTINGS */
  --text-normal: var(--interactive-normal);
}
.visual-refresh.theme-dark, .visual-refresh.theme-light {
  /* TEXT COLOR SETTINGS */
  --text-primary: hsl(0,0%,100%);
  --text-secondary: hsl(0,0%,77%);
  /* CHANNEL COLOR SETTINGS */
  --channels-default: hsl(0, 64%, 63%);
  --channel-icon: hsl(0, 0%, 100%);
  /* ICON COLOR SETTINGS */
  --icon-primary: hsl(0, 62%, 55%);
  --icon-secondary: hsla(0, 44%, 38%, 0.425);
  --icon-tertiary: hsl(0, 76%, 77%);
  /* INTERACTIVE COLOR SETTINGS */
  --interactive-normal: hsl(0, 74%, 62%);
  --interactive-hover: hsl(0, 86%, 46%);
  --interactive-active: hsl(0,86%,46%);
  --interactive-muted: hsl(0, 86%, 81%);
  /* BACKGROUND MODIFIER SETTINGS */
  --background-modifier-hover: hsl(0,0%,100%,0.075);
  --background-modifier-active: hsla(0, 0%, 97%, 0.1);
  --background-modifier-selected: hsla(0, 100%, 49%, 0.308);
  --background-modifier-accent: hsla(0, 82%, 67%, 0.175);
  --background-primary: transparent;
  --text-brand: hsl(var(--accent-hsl));
  --text-link: hsl(var(--accent-hsl));
}
.wrapper__1405b .buttonSection__1405b:first-child > .attachedCaretButtonContainer_f1ceac > div:first-child .colorable_f1ceac {
  --button-radius: calc(var(--popout-radius) / 1.2) 4px 4px calc(var(--popout-radius) / 1.2);
}

.avatarSpeaking__07f91 {
  box-shadow: inset 0 0 0 2px hsl(var(--accent-hsl)), inset 0 0 0 3px var(--background-base-lower);
}
.border__2f4f7.speaking__2f4f7 {
  box-shadow: inset 0 0 0 2px hsl(var(--accent-hsl)), inset 0 0 0 3px var(--background-base-lower);
}
.bar_a562c8 {
  background-color: var(--background-modifier-selected) !important;
}
.bar_a562c8 .barFill_a562c8 {
  background-color: hsla(var(--accent-hsl), calc(var(--accent-opacity) * 0.8));
}

.grabber_a562c8 {
  background-color: hsla(var(--accent-hsl), var(--accent-opacity));
  border-color: hsla(var(--accent-hsl), var(--accent-opacity));
  box-shadow: var(--popout-shadow);
}
.colorable_f1ceac {
  --button-background: var(--background-modifier-hover);
  --button-text-color: #ff0000;
  --button-radius: 50%;
  background-color: var(--button-background) !important;
  color: var(--button-text-color) !important;
}
.colorable_f1ceac:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--button-action-color);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: var(--default-time) var(--default-animation) opacity;
}
.colorable_f1ceac:hover:after {
  opacity: 0.075;
}
.colorable_f1ceac:active:after {
  opacity: 0.15;
}
.colorable_f1ceac.primaryDark_f1ceac {
  --button-background: hsla(var(--accent-hsl),var(--accent-opacity));
  --button-text-color: var(--accent-text-color);
}
.colorable_f1ceac.red_f1ceac {
  --button-background: hsla(var(--alert-hsl),var(--alert-opacity));
  --button-text-color: var(--alert-text-color);
}
.colorable_f1ceac.white_f1ceac {
  --button-background: #fff;
  --button-text-color: #060607;
}
.colorable_f1ceac.primaryLight_f1ceac {
  --button-text-color: #060607;
}
.colorable_f1ceac.activeLight_f1ceac {
  --button-background: var(--background-modifier-active);
  --button-text-color: #060607;
}
.colorable_f1ceac .centerIcon_f1ceac {
  color: var(--button-text-color) !important;
}

.colorRed__201d5 {
  --button-background: hsla(var(--alert-hsl),var(--alert-opacity));
  --button-text-color: var(--alert-text-color);
  --button-action-color: var(--alert-action-color);
}

.questionMark-3V9mGJ {
  background-color: hsla(var(--accent-hsl), var(--accent-opacity));
  border-radius: 50%;
}
.questionMark-3V9mGJ .icon-3JHfo7 {
  color: var(--accent-text-color);
  filter: none;
}
::selection {
  background: hsla(var(--accent-hsl), 0.65); /* semi-transparent accent background */
  color: var(--accent-text-color);           /* text color from your theme */
  text-shadow: none;                         /* ensures clean, readable text */
}
.sidebar__5e434 .link__2ea32 {
  border-radius: var(--list-item-radius);
}
