
@import url('https://fonts.googleapis.com/css2?family=Impact:wght@100;300;400;500;700&display=swap'); /*If you want to add your own font, change the link to your desired font*/
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');
/*Gif image link if you want the background to be a gif instead: --background: url('https://i.imgur.com/dEzp0nF.gif');*/
:root {
  --background: url('https://i.imgur.com/OHg0AXR.png');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: url('https://www.transparenttextures.com/patterns/debut-light.png');
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 10px;
  --transparencycolor: 0,0,0;
  --accentcolor: 223,84,84;
  --backdrop: rgb(0,0,0,0.85);
  --textshadow: rgb(0,0,0,0);
  --transparencyalpha: 0.1;
  --messagetransparency: 0.5;
  --guildchanneltransparency: 0.16;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --font: Impact;
  --textbrightest: 245,153,153;
  --textbrighter: 223,84,84;
  --textbright: 151,53,53;
  --textdark: 107,38,38;
  --textdarker: 93,32,32;
  --textdarkest: 99,0,0;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}

/* Any custom CSS below here */



/* Animated Voice Circle */
@keyframes speakingPulse {
  0% { box-shadow: 0 0 0 2px rgba(var(--accentcolor), 1), 0 0 6px 2px rgba(var(--accentcolor), 0.8); }
  50% { box-shadow: 0 0 0 2px rgba(var(--accentcolor), 1), 0 0 10px 4px rgba(var(--accentcolor), 0.6); }
  100% { box-shadow: 0 0 0 2px rgba(var(--accentcolor), 1), 0 0 6px 2px rgba(var(--accentcolor), 0.8); }
}

.avatarSpeaking__07f91,
.border__2f4f7.speaking__2f4f7 {
  border-color: rgba(var(--accentcolor), 1) !important;
  animation: speakingPulse 1.5s ease-in-out infinite;
  transition: border-color 0.2s ease;
}




